<div class="mt-5 pt-5">
    <h1>buzon de {{currentUser.name}}</h1>
    <ul>
        {{#each messages as |message|}}
        <li>
            <a class="navbar-brand" href="/users/{{to.id}}/chat">Chat con {{message.to.name}}</a>
        </li>
        {{/each}}
    </ul>
</div>