
<h1 class="mt-5 pt-5" >Buzon</h1>

<div class="mt-5 pt-5">
    <h1>buzon de {{currentUser.name}}</h1>
    <ul>
        {{#each users as |user|}}
        <li>
            <a class="navbar-brand" href="/users/{{user.id}}/chat">Chat con {{user.name}}</a>
        </li>
        {{/each}}
    </ul>
</div>